# Machine identity
HOSTNAME=macbook-air
LOCAL_USER=justin
LOCAL_DNS_NAME=macbook-air.local

# Networking
LAN_IP=
NETWORK_INTERFACE=

# Media
JELLYFIN_MEDIA_PATH=/Volumes/Media

# Ollama
OLLAMA_HOST=0.0.0.0:11434
OLLAMA_MODELS="gemma3"

# Open WebUI
OPEN_WEBUI_PORT=3000
OPEN_WEBUI_SECRET_KEY=

# Jellyfin
JELLYFIN_HTTP_PORT=8096
JELLYFIN_HTTPS_PORT=8920
